{
    "trailingComma": "all",
    "tabWidth": 4,
    "singleQuote": false,
    "experimentalTernaries": false,
    "printWidth": 120,
    "semi": true,
    "quoteProps": "as-needed",
    "bracketSpacing": false,
    "objectWrap": "collapse",
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-classnames", "prettier-plugin-tailwindcss", "prettier-plugin-merge"]
}
