**/node_modules
**/.vite
.git
.gitignore
compose.yaml
deployment.yaml
dockerfile
./KnowledgeBase/KnowledgeBaseBNB/uploads
./KnowledgeBase/KnowledgeBaseBNB/x64
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user