.container_navigation {
    position: fixed;

    display: flex;
    flex-direction: row;

    height: fit-content;

    .container_nav_left {
        position: relative;
        top: 0;
        left: -16.5rem;

        display: flex;
        flex-direction: row;
        flex-grow: 0;

        height: 100vh;

        // z-index: 10;

        transition: left 0.4s;

        .container_logo {
            display: flex;
            flex-direction: row;
            gap: 5.5rem;

            position: absolute;
            top: 1.25rem;
            left: 1.5rem;

            .image_Logo {
                align-self: center;

                // z-index: 100;

                flex-shrink: 0;

                overflow-y: hidden;

                user-select: none;
                -webkit-user-drag: none;
            }

            .button_toggle {
                // position: absolute;
                // top: 0;
                // left: 10rem;

                margin-top: 1.5rem;

                height: 24px;
                width: 24px;

                // z-index: 100;

                overflow-y: hidden;

                .icon_Menu {
                    // position: absolute;
                    // top: 0;
                    // left: 0;

                    height: 24px;
                    width: 24px;

                    // flex-shrink: 0;

                    user-select: none;
                    -webkit-user-drag: none;

                    transition: transform 0.4s;

                    &.rotate {
                        transform: rotate(-45deg);
                    }
                }

                @media (min-width: 1000px) {
                    .icon_Menu {
                        display: none;
                    }
                }
            }
        }

        .container_nav {
            display: flex;

            height: 100vh;

            flex-shrink: 0;

            nav {
                padding-top: 9.375rem;
                padding-left: 1.5rem;

                display: flex;
                flex-direction: column;
                gap: 3rem;

                background-color: var(--color-darkblue);

                box-shadow: 2px 0 0 var(--color-darkblue);

                // z-index: 100;

                .section_Menu,
                .section_Beheer,
                .section_Account {
                    display: flex;
                    flex-direction: column;
                    gap: 0.85rem;

                    .nav_text {
                        display: block;
                        // margin-bottom: 0.1rem;

                        color: var(--color-lightblue);
                        font-weight: 500;
                    }

                    .nav_item {
                        display: flex;
                        align-items: center;
                        gap: 0.625rem;

                        img {
                            width: fit-content;
                            height: fit-content;

                            flex-shrink: 0;

                            user-select: none;
                            -webkit-user-drag: none;
                        }

                        .route {
                            color: #f7fbff;
                        }
                    }
                }
            }

            .image_shapeLeft {
                // z-index: -10;

                width: auto;
                height: auto;

                flex-shrink: 0;

                user-select: none;
                -webkit-user-drag: none;
            }
        }
    }

    .container_nav_left.open {
        left: 0;
    }

    .container_nav_right {
        position: fixed;
        right: -20rem;

        height: 100vh;

        flex-shrink: 0;

        z-index: -10;

        transition: right 0.4s;

        .container_flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            height: 100vh;

            flex-shrink: 0;

            .image_shapeRight {
                width: auto;
                height: auto;

                flex-shrink: 0;

                user-select: none;
                -webkit-user-drag: none;
            }

            .container_space {
                background-color: var(--color-orange);

                width: 10rem;
                height: 100vh;

                box-shadow: -2px 0 0 var(--color-orange);
            }
        }
    }

    .container_nav_right.open {
        right: 0;
    }
}
